/cJSON.c
/cJSON.h
/cJSON.o
/libmotFaltas.a
/makefileMain
/makefileTest
/metaTab.c
/metaTab.h
/motFaltas2Json.c
/motFaltas2Json.o
/motFaltasAppHttp.c
/motFaltasCargaMeta.c
/motFaltasGetKeys.c
/motFaltas.h
/motFaltas.json
/motFaltasLee.c
/motFaltasLee.o
/motFaltasList.tab
/motFaltasParseJson.c
/motFaltasParseJson.o
/motFaltas.tab
/motFaltasTest
/motFaltasTest.c
/motFaltasTest.o
